.txt{
  margin-top: 90px;
  color: black;
  text-align: center;
  font-size: 40px;
}
.txt-message{
  margin-top: 60px;
  color: black;
  text-align: center;
  font-size: 26px;
}

.custom-shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider svg {
  position: relative;
  display: block;
  width: calc(144% + 1.3px);
  height: 500px;
}

.custom-shape-divider .shape-fill {
  fill: #1F755D;
}
.dress{
  width: 190px;
}