@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.kid-tops-items{
    display: inline-block;
    margin-left: 55px;
    margin-top: 30px;
}
.kid-sets-items{
    display: inline-block;
    margin-left: 55px;
    margin-top: 30px;
}
.kid-sets-info{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.kid-tops-info{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.kid-bottoms-items{
    display: inline-block;
    margin-left: 55px;
    margin-top: 30px;
}
.kid-dress-items{
    display: inline-block;
    margin-left: 55px;
    margin-top: 30px;
}
.kid-bottoms-info{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.kid-dress-info{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.kids-title{
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}
.kids-tops-items-content{
    width: 100%;
}
.kids-sets-items-content{
    width: 100%;
}
.kids-dress-items-content{
    width: 100%;
}
.kids-bottoms-items-content{
    width: 100%;
}
