.men-title{
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}
.men-tops-items{
    display: inline-block;
    margin-left: 55px;
    margin-top: 30px;
}
.men-bottoms-items{
    display: inline-block;
    margin-left: 55px;
    margin-top: 30px;
}
.men-shoes-items{
    display: inline-block;
    margin-left: 55px;
    margin-top: 30px;
}
.men-tops-items-content{
    width: 100%;
}
.men-bottoms-items-content{
    width: 100%;
}
.men-shoes-items-content{
    width: 100%;
}

