@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.women-title{
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}
.women-tops-items{
    display: inline-block;
    margin-left: 55px;
    margin-top: 30px;
}
.women-bottoms-items{
    display: inline-block;
    margin-left: 55px;
    margin-top: 30px;
}
.women-shoes-items{
    display: inline-block;
    margin-left: 55px;
    margin-top: 30px;
}
.women-tops-info{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.women-bottoms-info{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.women-dress-info{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.women-tops-items-content{
    width: 100%;
}
.women-bottoms-items-content{
    width: 100%;
}
.women-shoes-items-content{
    width: 100%;
}

